* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --fundo-color: #1f1f1f;
    --fundo-color-secundario: #2e2e2e;
    --white-color: #fff;
    --button-color: #cc6600;
    --button-color-hover: #e68a00;
    --text-color: #ccc;
    --text-color-secundario: #999;
    --black-color: #141414;
}

header {
    background-color: transparent;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 22;
    transition: 0.5s ease-in-out;
}

.active {
    background-color: var(--fundo-color);
}

header img {
    width: 100px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

header nav ul a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    transition: 0.5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

header nav ul a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--button-color-hover);
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    transition: 0.3s ease-in-out;
}

header nav ul a:hover::after {
    width: 100%;
}

header nav ul a:hover {
    color: var(--button-color-hover);
}

.home {
    height: 100vh;
    background-image: linear-gradient(30deg, rgba(0, 0, 0, 0.662), rgba(0, 0, 0, 0.639)), url(../assets/images/inicio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -17px;
    height: 10px;
    box-shadow: 0 -10px 10px var(--button-color-hover);
}

.container-home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
}

.container-home img {
    width: 180px;
    margin: 0 auto;
}

.container-home h1 {
    font-size: 40px;
}

.container-home h3 {
    font-size: 16px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    background-color: var(--button-color);
    color: var(--black-color);
}

.btn button:hover:active {
    background-color: var(--button-color-hover);
    transform: translateY(4px);
}

.sobre {
    padding: 40px 20px;
    background-color: var(--fundo-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;

}

.sobre .sobre-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titulo hr {
    width: 100px;
    height: 2px;
    background-color: var(--button-color);
    border: none;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
}

.titulo-sobre {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
}

.titulo-sobre p {
    margin-bottom: 20px;
}

.image-sobre img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 20px 20px 10px var(--button-color);
}
.servicos {
    padding: 40px 20px;
    background-color: var(--fundo-color-secundario);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.servicos .servicos-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.servicos .servicos-container .conteudo-serv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
}

.conteudo-serv .card {
    background-color: rgb(35, 35, 35);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--black-color);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.conteudo-serv .card:hover {
    transform: translateY(-10px);
}

.conteudo-serv .card svg {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
}

.conteudo-serv .card h4 {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
   
}

.servicos-container button {
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s ease-in-out;
    background-color: var(--button-color);
    color: var(--black-color);
}

.servicos-container button:hover {
    background-color: var(--button-color-hover);
    transform: translateY(-4px);
}

.galeria{
    padding: 40px 20px;
    background-color: var(--fundo-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.galeria .galeria-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.conteudo-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.image img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--black-color);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.image img:hover {
    transform: translateY(-10px);
}

.depo{
    padding: 40px 20px;
    background-color: var(--fundo-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.depo .depo-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.conteudo-depo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.conteudo-depo .card {
    background-color: rgb(35, 35, 35);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--black-color);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.conteudo-depo .card:hover {
    transform: translateY(-10px);
}

.conteudo-depo .card img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 10px var(--black-color);
    border-radius: 50%;
}

.conteudo-depo .card h3 {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
   
}

.conteudo-depo .card p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
   
}

.contato{
    padding: 40px 20px;
    background-image: linear-gradient(30deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.759)), url(../assets/images/maps.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contato .titulo p {
    color: whitesmoke;
}

.contato .container-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    margin: 5rem auto;
    max-width: 1200px;
}

.conteudo-cont .cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato .cards h3{
    color: #ffffff;
} 


.contato .cards p {
    color: whitesmoke;
}

form{
    max-width: 500px;
    margin: 0 auto;
}

.input-container {
    display: flex;
    gap: 30px;
}

.input-box{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid var(--button-color);
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    background-color: transparent;
    color: white;
}

input::placeholder{
    color: var(--text-color);
}

textarea{
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: 2px solid var(--button-color);
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    background-color: transparent;
    color: white;
}

form button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--button-color);
    color: var(--white-color);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 2rem auto;
    display: block;
}

form button:hover{
    transform: translateY(-10px);
}

footer{
    padding: 20px 20px;
    background-color: var(--fundo-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media screen and (max-width: 600px) {
    nav{
        display: none;
    }
    
    form{
        max-width: 300px;
    }
    .image img{
        width: 100%;
    }
    .image-sobre img{
        width: 100%;
    }
    
}



    


